{
  "semi": true,
  "singleQuote": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "printWidth": 80,
  "proseWrap": "always",
  "tabWidth": 2
}
